h1 {
padding: 40px;
margin-bottom: 30px;
font-size: 50px;
font-weight: 200;
line-height: 2.1428571;
color: inherit;
text-align: center;
background-color: #b1a688;
background-image:url(data:img/ping pong.png);
}
body{
  font-size: 20px;
  background-color: grey;
}

.float-left-area  {
		  width: 30%;
		  float: left;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.float-right-area {
		  width: 70%;
		  float: left;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.inner-left	  {
		  padding: 5px 5px 5px 5px;
		  margin-right: 10px;
		  border: #999999 1px solid;
		  min-height: 60px;
      background-color: green;
}

.inner-right	  {
		  font-size: 20px;
		  padding: 5px 5px 5px 5px;
		  border: #999999 1px solid;
		  min-height: 60px;
		  }

.clear-floated	  {
  clear: both;
  height: 1px;
  font-size: 1px;
  line-height: 1px;
  padding: 0;
  margin: 0;
}
